/* each label and input row */
.signUp{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

/* format of whole */
.sign-up-section{
    max-width: 450px;
    margin: 80px 200px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: darkslategray;
}

/* title text */
.sign-up-section h1 {
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
}

/* label text */
.signUp label {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

/* input text */
.signUp input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-size: 15px;
    background: white;
    transition: 0.2s ease;
}

/* focus effect */
.signUp input:focus {
    outline: none;
    border-color: #555;
    background: white;
}

/* submit button */
.signUpButton {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background: #333;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

/* hover over button behavior behavior*/
.signUpButton:hover {
    background: darkslategrey;
}
